<!DOCTYPE html>
<html lang="en">
<head>
  <!--stylesheets-->
  <link rel="stylesheet" href="../static/css/normalize.css">
  <link rel="stylesheet" href="../static/css/styles.css">
  <link rel="stylesheet" href="../static/css/medium.css">

  <!--google fonts-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Akshar:wght@300;500;700&display=swap" rel="stylesheet">
    
  <title>Design Principles</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Design Principles">
  
  <!-- Scripts -->
  <script src="../static/js/index.js" defer></script>
</head>
<body>
    <div class="container">
      <header class="border-full-background">
        <h1 class="header-text">Calvin Olson</h1>
      </header>
      <main>
        <div id="principles-holder">
            <div id="principle-one">
                <h2 class="border-full-background">
                    Hick's law
                </h2>
                <h3 class="principle-company"><a href="www.google.com">Google</a></h3>
                <img class="principle-img" src="../static/media/google.png" alt="picture of google mobile layout">
                <p>
                    Google represents Hick's law well because there is almost nothing on the opening page to look at. There is a search box, and a small amount of menu options on the top right corner of the page.
                </p>
            </div>

            <div id="principle-two">
                <h2 class="border-full-background">
                    White Space and Clean Design
                </h2>
                <h3 class="principle-company"><a href="www.github.com">Github</a></h3>
                <img class="principle-img" src="../static/media/github.png" alt="picture of github mobile layout">
                <p>
                    Github represents white space and clean design well because it spaces all of it's elements out very well, and although you could do a thousand things with github, there are only gives a few options on the main screen. The bottom of the screenshot also demonstrates how they have a clear simple description for starting with something in github, and they have a very clear button right below the description to get started.
                </p>
            </div>
            <div id="principle-three">
                <h2 class="border-full-background">
                    Fitt's Law
                </h2>
                <h3 class="principle-company"><a href="www.youtube.com">Youtube</a></h3>
                <img class="principle-img" src="../static/media/youtube.png" alt="picture of youtube mobile layout">
                <p>
                    Youtube represents Fitt's law well because of the size of everything. Two youtube videos take up the whole mobile screen, taking up more space, making it easier to click on a video that I might be interested in.
                </p>
            </div>
        </div>
      </main>
      <footer class="border-full-background">
        <div class="footer-text">
          <p>
            @<span id="current-year"></span> | Calvin Olson | Idaho |  <a href="https://www.byui.edu/online">Byui Online Learning</a>
          </p>
          <p id="last-updated">
            Last updated: <span id="last-updated-time"></span>
          </p>
        </div>
      </footer>
    </div>
  </body>
</html>