<!DOCTYPE html>
<html lang="en">
<head>
  <!--stylesheets-->
  <link rel="stylesheet" href="../../static/css/normalize.css">
  <link rel="stylesheet" href="../../static/css/styles.css">
  <link rel="stylesheet" href="../../static/css/medium.css">

  <!--google fonts-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Akshar:wght@300;500;700&display=swap" rel="stylesheet">
    
  <title>Weather Site Typography / Color Scheme</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Weather Site Typography / Color Scheme">
  
  <!-- Scripts -->
  <script src="../../static/js/index.js" defer></script>
</head>
<body>
    <div class="container">
      <header class="border-full-background">
        <div class="header-top-content">
          <img class="logo"src="..\..\static\media\rainbowLogo.png" alt="Rainbow Site Plan Logo">
          <h1 class="header-text">Site Plan Color Scheme / Typography</h1>
          <h1 class="motto">Making Weather as Easy as 123</h1>
        </div>
        <hr>
        <nav>
          <ul>
            <!-- Home, Preston, Soda Springs, Fish Haven, Storm Center, and Gallery. -->
            <li><a href="/views/lesson2/index.html">Home</a></li>
            <li><a href="/views/lesson2/target-audience.html">Target Audience</a></li>
            <li><a href="/views/lesson2/color-scheme.html">Color Scheme</a></li>
            <li><a href="/views/lesson2/color-scheme.html">Typography</a></li>
          </ul>
        </nav>
      </header>
      <main>
        <div class="color-scheme-container">
            <table class="layout-table">
                <tr>
                    <th>Site Header</th>
                    <th>Akshar</th>
                    <th>40px</th>
                    <th class="site-header-color">#cc0c39</th>
                    <th class="site-header-sample">Sample</th>
                </tr>
                <tr>
                    <th>Primary Navigation</th>
                    <th>Akshar</th>
                    <th>30px</th>
                    <th class="primary-navigation-color">#220b66</th>
                    <th class="primary-navigation-sample">Sample</th>
                  </tr>
                  <tr>
                    <th>Footer Navigation</th>
                    <th>Akshar</th>
                    <th>20px</th>
                    <th class="footer-navigation-color">#3d05e8</th>
                    <th class="footer-navigation-sample">Sample</th>
                  </tr>
                  <tr>
                    <th>Heading (h1)</th>
                    <th>Akshar</th>
                    <th>30px</th>
                    <th class="h1-color">#570318</th>
                    <th class="h1-sample">Sample</th>
                  </tr>
                  <tr>
                    <th>Heading (h2)</th>
                    <th>Akshar</th>
                    <th>25px</th>
                    <th class="h2-color">#cf0a3b</th>
                    <th class="h2-sample">Sample</th>
                  </tr>
                  <tr>
                    <th>Heading (h3)</th>
                    <th>Akshar</th>
                    <th>20px</th>
                    <th class="h3-color">#120145</th>
                    <th class="h3-sample">Sample</th>
                  </tr>
                  <tr>
                    <th>Paragraph text (p)</th>
                    <th>Arial</th>
                    <th>16px</th>
                    <th class="p-color">#000000</th>
                    <th class="p-sample">Sample</th>
                  </tr>
              </table>
        </div>
      </main>
      <footer class="border-full-background">
        <div class="footer-text">
          <p>
            @<span id="current-year"></span> | Calvin Olson | Idaho |  <a href="https://www.byui.edu/online">Byui Online Learning</a>
          </p>
          <p id="last-updated">
            Last updated: <span id="last-updated-time"></span>
          </p>
        </div>
      </footer>
    </div>
  </body>
</html>