<!DOCTYPE html>
<html lang="en">
<head>
  <!--stylesheets-->
  <link rel="stylesheet" href="../../static/css/normalize.css">
  <link rel="stylesheet" href="../../static/css/styles.css">
  <link rel="stylesheet" href="../../static/css/medium.css">

  <!--google fonts-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Akshar:wght@300;500;700&display=swap" rel="stylesheet">
    
  <title>Weather Site Planning Document</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Weather Site Planning Document">
  
  <!-- Scripts -->
  <script src="../../static/js/index.js" defer></script>
</head>
<body>
    <div class="container">
      <header class="border-full-background">
        <div class="header-top-content site-header">
          <img class="logo" src="../../static/media/rainbowLogo.png" alt="Rainbow Site Plan Logo">
          Weather Site Planning Document
          <p class="motto">Making Weather as Easy as 123</p>
        </div>
        <nav class="primary-navigation">
          <ul>
            <!-- Home, Preston, Soda Springs, Fish Haven, Storm Center, and Gallery. -->
            <li><a href="/views/lesson2/index.html">Home</a></li>
            <li><a href="/views/lesson2/target-audience.html">Target Audience</a></li>
            <li><a href="/views/lesson2/color-scheme.html">Color Scheme / Typography</a></li>
          </ul>
        </nav>
      </header>
      <main>
        <h1>Home</h1>
        <hr>
        <h2>Site Name: Weather 123</h2>
        <div class="home-container">
          <div class="purpose">
            <h3>Site Purpose:</h3>
            <p>The purpose of this site is to make weather information avaliable and easy to understand for anyone in the Rexburg area. Our website targets specifically tracking weather around bodies of water for anyone that is interested in fishing, boating, or any other form of water activity.</p>
          </div>
          <div class="domain">
            <h3>Site Available Domain:</h3>
            <p>weathersiteplan123.com</p>
          </div>
          <div class="logo-div">
            <h3>Site Logo:</h3>
            <img class="logo" src="../../static/media/rainbowLogo.png" alt="Rainbow Site Plan Logo">
          </div>
        </div>
      </main>
      <footer class="footer-navigation border-full-background">
        <div class="footer-text">
          @<span id="current-year"></span> | Calvin Olson | Idaho |  <a href="https://www.byui.edu/online">Byui Online Learning</a>
          <br>
          <span id="last-updated">
            Last updated: <span id="last-updated-time"></span>
          </span>
        </div>
      </footer>
    </div>
  </body>
</html>