<!DOCTYPE html>
<html lang="en">
<head>
  <!--stylesheets-->
  <link rel="stylesheet" href="../../static/css/normalize.css">
  <link rel="stylesheet" href="../../static/css/styles.css">
  <link rel="stylesheet" href="../../static/css/medium.css">

  <!--google fonts-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Akshar:wght@300;500;700&display=swap" rel="stylesheet">
    
  <title>Weather Site Target Audience</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Weather Site Target Audience">
  
  <!-- Scripts -->
  <script src="../../static/js/index.js" defer></script>
</head>
<body>
    <div class="container">
      <header class="border-full-background">
        <div class="header-top-content">
          <img class="logo"src="..\..\static\media\rainbowLogo.png" alt="Rainbow Site Plan Logo">
          <h1 class="header-text">Site Plan Target Audience</h1>
          <h1 class="motto">Making Weather as Easy as 123</h1>
        </div>
        <hr>
        <nav>
          <ul>
            <!-- Home, Preston, Soda Springs, Fish Haven, Storm Center, and Gallery. -->
            <li><a href="/views/lesson2/index.html">Home</a></li>
            <li><a href="/views/lesson2/target-audience.html">Target Audience</a></li>
            <li><a href="/views/lesson2/color-scheme.html">Color Scheme</a></li>
            <li><a href="/views/lesson2/color-scheme.html">Typography</a></li>
          </ul>
        </nav>
      </header>
      <main>
        <div class="target-audience-container">
            <div class="target-description">
              <h2>Target Audience:</h2>
              <p>The target audience for this website is anyone near Rexburg, ID that is involved in activities near local bodies of water.</p>
            </div>
            <div class="personas">
              <div class="persona1">
                <h2>Persona 1: Jack Doe</h2>
                <img class="logo" src="..\..\static\media\jack.png" alt="A picture of Jack Doe">
                <h3>Information:</h3>
                <p> Jack Doe is an avid fisherman in the Soda Springs area. He loves to Canoe and barbaque. He has no children, a wife, and family all around Idaho. He loves the small town life and likes simple things. </p>
              </div>
              <div class="persona2">
                <h2>Persona 2: Jane Doe</h2>
                <img class="logo" src="..\..\static\media\jane.png" alt="A picture of jane Doe">
                <h3>Information:</h3>
                <p> Jane Doe is a planner and always has something on her mind. She lives in Soda Springs, has 3 kids, and has family close by in Preston.</p>
              </div>
            </div>
            <div class="scenarios">
                <h2>Scenarios:</h2>
                <ul>
                    <li><p>Jane Doe is a local resident of Soda Springs, ID, however she also has close family in Preston, ID. Because Jane loves the outside, and loves to plan activities at either her, or her families houses, she has to constantly be checking the weather in both places to see which place has the better weather, to decide where to plan the event. She has to jump between the two places, and our website has data for both of the places and is very easily accessible.</p></li>
                    <li><p>Jane Doe happens to have 3 children, who love to fly their kites at a local park. She needs detailed information about the wind speed to know if her kids will be able to fly their kites.</p></li>
                    <li><p>Jack Doe loves hosting barbaques, he lives on the very north side of Soda Springs. He only likes to barbaque when it's over 50 degrees, and the weather is sunny. Our website has detailed information about the weather in Soda Springs.</p></li>
                    <li><p>Jack Doe is a fisherman that loves to fish at Bear Lake. We have the information for the weather for Fish Haven, a local fishing hotspot at bear lake. Because Fish Haven is a very local spot, there isn't a lot of information avaliable about it on other websites. He goes to us because we have a lot of information about the weather at Fish Haven, where he frequents.</p></li>
                    <li><p>Jack Doe loves to canoe as well. Soda Springs has a great rives that he loves to canoe down. Our website has detailed information about the weather for Soda Springs he can use to know when he'll get the change to go on a canoe trip.</p></li>
                </ul>
            </div>
        </div>
      </main>
      <footer class="border-full-background">
        <div class="footer-text">
          <p>
            @<span id="current-year"></span> | Calvin Olson | Idaho |  <a href="https://www.byui.edu/online">Byui Online Learning</a>
          </p>
          <p id="last-updated">
            Last updated: <span id="last-updated-time"></span>
          </p>
        </div>
      </footer>
    </div>
  </body>
</html>